.articleBox {
  /* float: left; */
  display:inline-block;
  vertical-align:middle;
}

.articleBoxWrap {
  text-align:center
}

.container {
  margin: 20px 30px;
}

.boardTitle {
  margin-bottom: 4px;
}